body {
  margin: 0;
  padding: 0;
  font-family: Consolas, sans-serif;
  background-color: #333333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333333;
}

.d-flex {
  display: flex;
}
