.container {
  width: fit-content;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

table {
  border-collapse: collapse;
}

td {
  width: 5px;
  height: 5px;
  border: 1px solid #ccc;
}

td:hover {
  background-color: #565656;
}

.alive {
  background-color: #000;
}

.dead {
  background-color: #fff;
}
